html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body { 
  position: absolute;  
  margin: 0;
  padding: 0;
	  perspective: 100px;
  perspective-origin: 4000px 500px;
	  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  font-family: oldnewspapertypes;
  font-size: 72px;
  background-image: url("images/background-war.png");
}

/* Fonts */

      
@font-face { 
    font-family: moms_typewriter; src: url('fonts/moms_typewriter/Mom«t___.ttf'); 
}

@font-face { 
    font-family: oldnewspapertypes; src: url('fonts/oldnewspapertypes/OldNewspaperTypes.ttf')
} 

h1 {
    color: white;
    font-family: moms_typewriter;
    font-size: .7em;
}


h2 {
    color: antiquewhite;
    font-family: 'Roboto';
    font-size: 1em;
}


h3 {
    color: black;
    font-family: oldnewspapertypes;
    font-size: .6em;
}


h4 {
    color: antiquewhite;
    font-family: 'Nothing You Could Do', cursive;
    font-size: .5em;
}

#yearText {
    color: white;
}


/* Menu */


#heading {
    font-family: oldnewspapertypes;
    font-size: 1em; 
    color: white; 
    letter-spacing: .10em;
    float: left;
    padding: 0px 0px 0px 90px  
}

.centered {
    position: sticky;
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    font-family: oldnewspapertypes;   
}

.filter-bar{
    position: sticky;
    font-size: 0.7em;
    height: 70px;
    width: 100%;
    font-family: oldnewspapertypes;   
}

.left {    
    position: absolute;
    font-family: oldnewspapertypes;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.top-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    padding-bottom: 10px;
    font-family: moms_typewriter;
    border-bottom: solid white 1px;
}

.header {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: moms_typewriter;
    font-size: 0.5em;
    padding: 10px 50px 10px;
}


.footer {
    position: sticky;
    left: 0%;
    top: 89%;  
}

/* List Styling */

ul, ol {
    list-style-type: none;
    display: inline; 
    margin: 5px;
    padding: 5px;     
}
   
  
li {
    margin: 10px;
    padding: 10px;
    display: inline;
    color: white;
}


a  {
    text-decoration: none;   
    color: white;
}


a:visited {
    color: inherit;
}


a:hover {
    color: #88001b; 
    transition: 0.3s;
} 

/* Buttons */

#circle-button {
    position: absolute;
    border-radius: 50%;
    bottom: 20px;
    height: 55px;
    width: 55px;
    font-size: 30px;
    right: 20px;
    background-color: #88001b;
    color: white;
    cursor: pointer;
}

.circle-button-buttons {
border: 1px solid;
background:#88001b;
padding: 25px;
color: white; 
transition: 0.6s;
text-align: center;
}

button:focus {
    outline:0;
}

#buttons {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 15px;
    width: 300px;
    cursor: pointer;
}

/* Filter buttons */
.filter-buttons {
    border: none;
    <!-- color: white; -->
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Timeline */


.timeline-texture {
   
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 120%;
    background-color: #333;
    opacity: 0.3;
    transform: translate(-50%, -50%);    
}

.timeline {
  position: relative;
  left: 0;
  top: 0%;
  width: 12000px;
  height: 60%;
  font-family: moms_typewriter; 
  transform-style: inherit;
  transform: translateZ(0px);
  z-index: 0;
  background-size: 100% / cover;
}

.float {
  position: absolute;
  display: inline-block;
  transform-style: inherit;
  
}

.depth1 {
  transform: translateZ(1px);
  z-index: 1;
}



.depth10 {
  font-family: oldnewspapertypes;
  transform: translateZ(10px);
  z-index: 10;
  color: #333333;

}

.depth20 {
  transform: translateZ(20px);
  z-index: 20;
  
}


.depth25 {
  transform: translateZ(25px);
  z-index: 25;
  
}



/*
span {
	width:300px;
	color: black;
}*/

.timeline__content {
	width: 200px;
	height: 200px;
    background-color: grey;
    border-radius: 10px;
}


.timeline__content span {
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	 font-size: 14px;
     color: white;
    }

.timeline__content {
    display: flex!important;
    flex-direction: column;

}

/*
.events-content {
    border: 2px solid green;
}
*/


/* Telegram Animations */


.telegram {
  font-family: oldnewspapertypes;
  font-size: 16px;  
  color: white;  
  overflow: hidden;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  text-shadow: none;
  float:left;
}


#title {
  font-family: oldnewspapertypes;
  font-size: 1em;  
  color: #333333;  
  overflow: hidden;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  text-shadow: none;
  float:left;
  animation: 
    typing 30s steps(200, end),
    curser .60s step-end infinite;
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



/* Modal Styling */


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


   .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
		z-index: 200;
    }
    .modal-content {
		z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1000px;
        transform: translate(-50%, -50%);
        background-color: white;
        margin-top: 0px;
        /*border-radius: 0.5rem;*/
        font-size: 20px;
        padding: 20px 20px 0px 20px;
    }
    #modalText {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    #edit {
        border: 1px solid;
        background:#88001b;
        padding: 25px;
        color: white; 
        transition: 0.6s;
        text-align: center;
        float: right;
    }

    /*
    #modalContainer {
        display: flex;
        align-items: center;
        min-width: 1000px;
        padding: 20px;
    }*/

    #modalTranscript {
    float: right;
    align-content: center;
    flex-direction: column;
    }

    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: maroon;
        color: white;
        transition: .3s;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
	
    #scrubber {
		
		background-color:white;
		top: 50%;
       
		width: 80%;
		height:100px;
		
		position: sticky;
        left: 35.5%;
	}
	.scrubberCol {
		height: 100px;
		width: 50px;
		background-color: gray;
		float: left
	}
	
		.box {
		float: left;
		height: 25px;
		width: 49px;
		background-color: blue;
		
	}

    /* Checkbox code from zFunx on Codepen */
    input[type=checkbox] + label {
        display: block;
        margin: 0.2em;
        cursor: pointer;
        padding: 0.2em;
      }
      
      input[type=checkbox] {
        display: none;
      }
      
      input[type=checkbox] + label:before {
        content: "\2714";
        border: 0.1em solid #fff;
        border-radius: 0.2em;
        display: inline-block;
        width: 1em;
        height: 1em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.2em;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
      }
      
      input[type=checkbox] + label:active:before {
        transform: scale(0);
      }
      
      input[type=checkbox]:checked + label:before {
        background-color: MediumSeaGreen;
        border-color: rgb(61, 202, 124);
        color: #fff;
      }
      
      input[type=checkbox]:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
      }
      
      input[type=checkbox]:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
      }

.intro-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/background-war.png");
    font-size: 18px!important;
    font-family: 'Roboto'!important;
}

.intro-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

.intro-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    text-align: center;
    align-items: center;
}

#welcome {
    border: 1px solid white;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto';
    color: white;
    transition: 0.6s;
}

.intro-btn {
    border: 1px solid;
    background:#88001b;
    padding: 25px;
    color: white; 
    transition: 0.6s;
    text-align: center;
    margin-top: 25px;
}

.intro-h1 {
    color: white;
    font-family: moms_typewriter;
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-top: 50px;
}


.intro-h2 {
    color: antiquewhite;
    font-family: 'Roboto';
    font-size: 1em;
    text-align: center;
}


.intro-p {
    color: white;
    font-family: 'Roboto';
    padding-bottom: 50px;
}

